<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <title>Testing Neural Network</title>
</head>

<body>
    <div class="ui container">
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="first">Manual Testing</a>
            <a class="item" data-tab="second">Automatic Testing</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="first">
            <div class="ui message">
                <div class="header">
                    Apa itu manual testing ?
                </div>
                <p>Testing ini dilakukan dengan menginputkan satu persatu data yang diperlukan</p>
            </div>
            <p>Inputkan Data-Data dengan Lengkap</p>
            <div class="ui four column grid">
                <div class="row">
                    <div class="column">
                        <p>Likuiditas Perekonomian</p>
                        <div class="ui action input">
                            <select class="ui compact selection dropdown" name="x[]">
                                <option value="1">Naik</option>
                                <option value="0.5">Tetap</option>
                                <option value="0">Turun</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <p>Tingkat Inflasi</p>
                        <div class="ui action input">
                            <select class="ui compact selection dropdown" name="x[]">
                                <option value="1">Naik</option>
                                <option value="0.5">Tetap</option>
                                <option value="0">Turun</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <p>Pertumbuhan Ekonomi</p>
                        <div class="ui action input">
                            <select class="ui compact selection dropdown" name="x[]">
                                <option value="1">Naik</option>
                                <option value="0.5">Tetap</option>
                                <option value="0">Turun</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <p>CAR</p>
                        <div class="ui action input">
                            <select class="ui compact selection dropdown" name="x[]">
                                <option value="1">Naik</option>
                                <option value="0.5">Tetap</option>
                                <option value="0">Turun</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <p>LDR</p>
                        <div class="ui action input">
                            <select class="ui compact selection dropdown" name="x[]">
                                <option value="1">Naik</option>
                                <option value="0.5">Tetap</option>
                                <option value="0">Turun</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <p>US Rate</p>
                        <div class="ui action input">
                            <select class="ui compact selection dropdown" name="x[]">
                                <option value="1">Naik</option>
                                <option value="0.5">Tetap</option>
                                <option value="0">Turun</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <p>BI Rate</p>
                        <div class="ui action input">
                            <select class="ui compact selection dropdown" name="x[]">
                                <option value="1">Naik</option>
                                <option value="0.5">Tetap</option>
                                <option value="0">Turun</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="six wide column">
                        <button id="pilih_weight_manual" class="ui button primary inline">Pilih Weight</button>
                        <button class="ui button inline" id="testing_manual">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- akhir tab manual -->
        <!-- tab awal automacli-->
        <div class="ui bottom attached tab segment" data-tab="second">
            <div class="ui message">
                <div class="header">
                    Apa itu Automatic testing ?
                </div>
                <p>Testing ini dilakukan dengan mengupload file data dan weight yang telah disediakan</p>
            </div>
            <div class="ui four column grid">
                <div class="row">
                    <div class="column">
                        <p>Silahkan Pilih File Data</p>
                        <button class="ui button primary" id="pilih-data-testing">Pilih Data</button>
                    </div>
                    <div class="column">
                        <p>Silahkan Pilih File Weight</p>
                        <button class="ui button primary" id="pilih-weight-automatic">Pilih Weight</button>
                    </div>
                    <div class="column">
                        <p>Silahkan Pilih File target</p>
                        <button class="ui button primary" id="pilih-target">Pilih Target</button>
                    </div>
                    <div class="column">
                        <button class="ui button positive" id="testing-automatic">Submit</button>
                    </div>
                </div>
            </div>
            <div>
                <table id="hasil-testing-automatic" class="ui celled structured table">
                    <thead>
                        <tr>
                            <th colspan="7">Data</th>
                            <th rowspan="2">Hasil</th>
                            <th rowspan="2">Target</th>
                        </tr>
                        <tr>
                            <th>Likuiditas Perekonomian</th>
                            <th>Tingkat Inflasi</th>
                            <th>Pertumbuhan Ekonomi</th>
                            <th>CAR</th>
                            <th>LDR</th>
                            <th>US Rate</th>
                            <th>BI Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <script>
        // jQuery
        window.jQuery = require('jquery')
        window.$ = window.jQuery

        // dialog dan fs
        const {dialog} = require('electron').remote
        const fs = require('fs')
    </script>
    <script src="../semantic/dist/semantic.min.js"></script>
    <script src="../js/manual.js"></script>
    <script src="../js/automatic.js"></script>
    <script type="text/javascript">
        $('.menu .item').tab()
    </script>
</body>

</html>